[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/ds"]
	path = deps/ds
	url = https://github.com/recp/ds.git
[submodule "deps/tm"]
	path = deps/tm
	url = https://github.com/recp/tm.git
[submodule "deps/gpu"]
	path = deps/gpu
	url = https://github.com/recp/gpu.git
[submodule "deps/im"]
	path = deps/im
	url = https://github.com/recp/im.git
